.content{
    position: fixed;
    border-style: solid;
    width: 2px;
}

#p1{
    position: relative;
    font-family: Arial;
    color: red;
}

#p2{
    position: absolute;
    top: 0px;
    left: 200px;
}